
html {
  background-color: $bg--main;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  @include mobile-only {
    padding-top: $mobile-nav-height;
  }
}

table {
  width: 100%;
}
