
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

.fade-slow-enter-active, .fade-slow-leave-active {
  transition: opacity .6s ease;
}

.fade-slow-enter, .fade-slow-leave-active {
  opacity: 0;
}
