
.off-canvas-right-enter-active, .off-canvas-right-leave-active {
  transition: all .3s ease;
}

.off-canvas-right-enter, .off-canvas-right-leave-active {
  opacity: 0;
  transform: translateX(100%);
}
