
// slide-fade-left
.slide-fade-left-enter-active, .slide-fade-left-leave-active {
  transition: all .3s ease;
}

.slide-fade-left-enter, .slide-fade-left-leave-active {
  transform: translateX(30px);
  opacity: 0;
}

// slide-fade-right
.slide-fade-right-enter-active, .slide-fade-right-leave-active {
  transition: all .3s ease;
}

.slide-fade-right-enter, .slide-fade-right-leave-active {
  transform: translateX(-30px);
  opacity: 0;
}

// slide-fade-up
.slide-fade-up-enter-active, .slide-fade-up-leave-active {
  transition: all .3s ease;
}

.slide-fade-up-enter, .slide-fade-up-leave-active {
  transform: translateY(30px);
  opacity: 0;
}

// slide-fade-down
.slide-fade-down-enter-active, .slide-fade-down-leave-active {
  transition: all .3s ease;
}

.slide-fade-down-enter, .slide-fade-down-leave-active {
  transform: translateY(-30px);
  opacity: 0;
}
