.custom-featured-product {
  .featured-product {
    &__content {
      &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 12px;
        text-align: center;
        align-items: center;
        @include tablet-up {
          margin-top: 0;
          text-align: left;
          align-items: initial;
        }
      } 
      &-heading {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 0;
        @include tablet-up {
          font-size: 48px; 
          line-height: 54px;
        }
        .yotpo {
          display: flex;
          justify-content: center;
          margin-top: 12px;
          @include tablet-up {
            display: inline-block;
            margin-top: 0;
          }
          .text-m {
            font-weight: 300;
            font-size: 10px;  
            line-height: 16px;
            margin-left: 4px;
          }
        }
      }
      &-subheading {
        font-size: 14px;  
        line-height: 20px;
        max-width: 380px;
        @include tablet-up {
          font-size: 16px;  
          line-height: 22px;
        }
      }
      &-membership {
        font-size: 18px;
        font-weight: 500; 
        line-height: 40px;
        color: $color-blue;
        margin: 8px 0;
        @include tablet-up {
          font-size: 24px;
            margin: 12px 0;
        }
        &_line {
          display: flex;
          &-icon {
            display: inline-block;
            position: relative;
            margin-left: 8px;
            &:hover {
              .tooltip-custom {
                display: block !important;
              }
            }
          }
        }
      }
      &-button {
        width: 100%;
        max-width: 350px;
        margin-top: 24px;
        &_wrapper {
          width: 100%;
        }
      }
    }
    &__images {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 24px;
      width: 350px;
      &-img {
        max-width: 110px;
        height: auto;
        &:first-child {
          margin-right: 12px;
        }
      }
    }
  }
  .custom-product-carousel {
    height: 100%;
    max-width: 100%;
    margin: auto;
    @include tablet-up {
      max-width: 525px;
    }
  }
  .block_image {
    width: 100%;
    height: auto;
    max-width: 340px;
    min-height: 340px;
    @include tablet-up {
      max-width: 525px;
      min-height: 525px;
    }
  }
  .custom_block_image {
    display: block;
    height: 340px;
    margin: auto;
    @include tablet-up {
      height: 525px;
    }
  }
  button.flickity-prev-next-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.previous {
      left: 0;
    }
    &.next {
      right: 0;
    }
    &[disabled] {
      opacity: 0.5;
    }
  }
  .tooltip-custom {
    position: absolute;
    bottom: 40px;
    right: -86px;
    width: 175px;
    line-height: 1.5;
  }
  .tooltip-arrow {
    transform: rotate(45deg) translateY(-50%) scale(1.5);
    position: absolute;
    bottom: -10px;
    right: 50%;
  }
}