<div class="legalpagesection">
  <h3 id="kangarootermsofsale">Kangaroo Terms of Sale</h3>

<h3 id="effectivedatejune5th2018">Effective date: June 5th, 2018</h3>

<p>Please review these Terms of Sale carefully as these terms govern your purchase of the products in your order (the "System") from Roo LLC. ("Kangaroo", "us") and set out your rights and obligations with respect to your purchases, including important limitations and exclusions, such as those contained in our product warranties. <strong>These are the Terms of Sale under which we are willing to provide you with the System and requires the use of binding arbitration to resolve disputes rather than jury trials or class actions (described in detail below). Please be certain you understand them.</strong></p>

<p>By clicking the "Agree" button below or using the System, you agree that you have read these Terms of Sale and are legally bound by these Terms of Sale, including the disclaimers, limitations of liability and indemnity obligations below. You may print these Terms of Sale by clicking the print button on your Internet browser. Our Terms of Sale may change from time to time. We will not reduce your rights under this Terms of Sale without your consent in accordance with applicable law. We will post any changes on this page and, if the changes are significant, we will provide a more prominent notice as we deem appropriate. We will also keep prior versions of this Terms of Sale in an archive for your review.</p>

<h3 id="ussalesonly">U.S. Sales Only</h3>

<p>Purchases from Kangaroo are available only in the United States. You agree not to use or attempt to use any Kangaroo product or service from outside of the United States or for any illegal or unlawful purpose.</p>

<h3 id="salestoendusersonly">Sales to End Users Only</h3>

<p>Purchases made through the Kangaroo website are for end user customers only. Sales to dealers, resellers or distributors or any other third-party are prohibited.</p>

<h3 id="paymentmethods">Payment Methods</h3>

<p>Kangaroo accepts credit cards, debit cards and Kangaroo Gift Cards as forms of payment. If a credit card is being used for a transaction, Kangaroo may obtain a pre-approval from the credit card company for an amount up to the amount of the order. Billing to your credit card occurs at the time of purchase or when the order is shipped. If the balance from a Kangaroo Gift Card is used for a transaction, the amount is deducted from your Gift Card at the time of purchase. If the total amount of the transaction is greater than the balance available in Gift Card your credit card will be charged for the balance.</p>

<p>Kangaroo accepts the following credit cards: Visa, MasterCard, American Express, and Discover. We are unable to accept credit cards issued by banks outside of the United States. Debit cards and check cards have daily spending limits that may prevent the processing of your order.</p>

<h3 id="prices">Prices</h3>

<p>Your total price will include the price of the products in your order plus any applicable sales tax and shipping charges, less any discounts offered. Kangaroo reserves the right to change prices for products offered at any time, and does not provide price protection or refunds in the event of a price drop or promotional offering. In the event a product is listed at an incorrect price due to typographical error or error in pricing information received from our suppliers, we shall have the right to refuse or cancel any orders placed for product / service listed at the incorrect price. We shall have the right to refuse or cancel any such orders whether or not the order has been confirmed and your credit or debit card charged. If your credit or debit card has already been charged for the purchase and your order is canceled, we shall timely issue a credit to your credit or debit card account in the amount of the incorrect price.</p>

<h3 id="salestax">Sales Tax</h3>

<p>Kangaroo website transactions will include sales tax based on the delivery address and the sales tax rate in effect at the time your transaction is completed. If the sales tax rate for the state to which your order is being shipped changes before the product is shipped, the rate in effect at the time your order was received will apply. You are responsible for all applicable sales taxes, and Kangaroo has the right to collect any tax it believes it is obligated to collect.</p>

<h3 id="kangaroogiftcards">Kangaroo Gift Cards</h3>

<p>Kangaroo Gift Cards are for transactions on the Kangaroo website only. Sales tax will not be charged when the Gift Card is purchased. Sales tax is charged when the Gift Card is redeemed. The tax rate on the transaction is based on the delivery address of the redeemer. Gift Cards may not be used to purchase other Gift Cards.</p>

<h3 id="shipping">Shipping</h3>

<p>Delivery will be by common carrier F.O.B. Kangaroo's shipping point. You assume sole risk of loss or destruction to the System during shipment.</p>

<h3 id="limitedwarranty">Limited Warranty</h3>

<p>Kangaroo warrants to you, the initial purchaser of the System, that the System will be free from defects in materials and workmanship under normal use and service for 1 year from the date that you purchase the System.</p>

<p>Kangaroo's sole obligations shall be limited within the warranty period to accepting return of the defective product or part and delivering to you an equivalent product or part to replace the defective item. Replacement products may be new or reconditioned, at the sole option of Kangaroo. Kangaroo warrants any replaced product for 1 year from the time of replacement.</p>

<p>For warranty service, please contact Kangaroo Customer Support or visit <a href="https://support.heykangaroo.com">support.heykangaroo.com</a> and click on "Contact Us". If Kangaroo is unable to address the issue that you are facing, Kangaroo will send you a replacement product or part upon receipt of your defective product or part.</p>

<p>This Limited Warranty does not apply in the following cases: failure to follow installation or operating instructions, misuse (which includes, without limitation, using products outdoors unless outdoor use is expressly permitted, and in such cases only as directed), alteration, abuse, accident or tampering, or damage or non-performance resulting from use of any item or repair services not provided by Kangaroo. This Limited Warranty also does not apply if damage was caused by Acts of God, natural disasters, labor disputes, war, terrorism, civil strife, or other causes beyond Kangaroo's control. Battery replacement is excluded from this Limited Warranty. Products that are tested and found to be in good working condition (not defective) are not covered by this Limited Warranty.</p>

<p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, THIS LIMITED WARRANTY IS EXCLUSIVE AND EXPRESSLY IN LIEU OF ALL OTHER WARRANTIES, OBLIGATIONS OR LIABILITIES, WHETHER WRITTEN, ORAL, EXPRESS OR IMPLIED, INCLUDING ANY IMPLIED WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR OTHERWISE. KANGAROO DISCLAIMS ALL STATUTORY AND IMPLIED WARRANTIES TO THE EXTENT PERMITTED BY LAW. INSOFAR AS SUCH WARRANTIES CANNOT BE DISCLAIMED, KANGAROO LIMITS THE DURATION AND REMEDIES OF SUCH WARRANTIES TO THE DURATION OF THE LIMITED WARRANTY DESCRIBED ABOVE OR THE SHORTEST PERIOD ALLOWED BY LAW. IN NO CASE SHALL KANGAROO OR ANY OF ITS AFFILIATES, DIRECTORS, OFFICERS, SHAREHOLDERS, EMPLOYEES, SUBCONTRACTORS, AGENTS OR REPRESENTATIVES (EACH, A "KANGAROO PARTY" AND COLLECTIVELY, THE "KANGAROO PARTIES") BE LIABLE TO YOU OR ANYONE ELSE FOR ANY CONSEQUENTIAL OR INCIDENTAL DAMAGES FOR BREACH OF THIS LIMITED WARRANTY OR ANY OTHER WARRANTIES WHATSOEVER. THIS WARRANTY GIVES YOU SPECIFIC LEGAL RIGHTS. YOU MAY ALSO HAVE OTHER RIGHTS WHICH VARY FROM STATE TO STATE. SOME STATES DO NOT ALLOW LIMITATIONS ON HOW LONG AN IMPLIED WARRANTY LASTS AND DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES. THEREFORE, THE ABOVE LIMITATIONS OR EXCLUSIONS MAY NOT APPLY TO YOU.</p>

<p>KANGAROO DOES NOT REPRESENT THAT THE SYSTEM MAY NOT BE COMPROMISED OR CIRCUMVENTED; THAT THE SYSTEM WILL PREVENT ANY PERSONAL INJURY OR PROPERTY LOSS; OR THAT THE SYSTEM WILL IN ALL CASES PROVIDE ADEQUATE WARNING OR PROTECTION. YOU UNDERSTAND THAT THE SYSTEM MAY BE INTERRUPTED, CIRCUMVENTED, UNAVAILABLE (FOR A LIMITED OR EXTENDED TIME PERIOD) OR OTHERWISE COMPROMISED, INCLUDING AS A RESULT OF EQUIPMENT DESIGNED OR USED BY A THIRD PARTY FOR THE PURPOSE OF CAUSING FALSE ALARMS OR GAINING UNAUTHORIZED ACCESS TO OR OTHERWISE AFFECTING OR CONTROLLING THE SYSTEM.</p>

<p>CONSEQUENTLY, NO KANGAROO PARTY, AS DEFINED ABOVE, SHALL HAVE ANY LIABILITY FOR ANY LOSS, DAMAGE OR EXPENSE (COLLECTIVELY, "LOSSES"), INCLUDING ANY PROPERTY DAMAGE, PERSONAL INJURY (INCLUDING DEATH), ECONOMIC LOSSES OR ANY OTHER FORM OF LOSS, DAMAGE OR EXPENSE ARISING OUT OF OR IN CONNECTION WITH, DUE TO, OR CAUSED IN WHOLE OR IN PART BY A CLAIM THE SYSTEM FAILED TO GIVE WARNING. HOWEVER, IF ANY KANGAROO PARTY, AS DEFINED ABOVE, IS HELD LIABLE, WHETHER DIRECTLY OR INDIRECTLY, FOR ANY LOSS ARISING OUT OF OR IN CONNECTION WITH, DUE TO, OR CAUSED IN WHOLE OR IN PART BY THIS LIMITED WARRANTY OR OTHERWISE, THE AGGREGATE LIABILITY OF ALL KANGAROO PARTIES, AS DEFINED ABOVE, SHALL BE LIMITED TO THE PURCHASE PRICE OF THE SYSTEM, WHICH SHALL BE THE COMPLETE AND EXCLUSIVE REMEDY AGAINST THE KANGAROO PARTIES, AS DEFINED ABOVE. YOU ACKNOWLEDGE AND AGREE THAT IT IS IMPRACTICAL AND EXTREMELY DIFFICULT TO DETERMINE THE ACTUAL DAMAGES, IF ANY, THAT MAY RESULT FROM A FAILURE OF THE SYSTEM TO GIVE WARNING. THIS AGREED-UPON AMOUNT (THE PURCHASE PRICE OF THE SYSTEM) IS NOT A PENALTY, AND IS THE SOLE REMEDY.</p>

<p>By purchasing from Kangaroo, you acknowledge that you have had an opportunity to review Kangaroo's warranty terms, have done so to the degree you feel you need to be familiar with them, and you accept their terms and conditions, including the limitations, exclusions, and disclaimers.</p>

<h3 id="emergencydispatchservices">Emergency Dispatch Services</h3>

<p>Emergency Dispatch Services will not be provided in connection with your purchase of the System unless you activate or subscribe to such services. Activation or or subscription can be done through the Kangaroo Security mobile application, or by calling Kangaroo Customer Support. Emergency Dispatch Services are provided in accordance with Kangaroo's Terms of Service which can be found online at <a href="http://www.heykangaroo.com/pages/terms-of-service">www.heykangaroo.com/pages/terms-of-service</a>.</p>

<h3 id="otherservicesrequiringasubscriptionoractivation">Other Services Requiring a Subscription or Activation</h3>

<p>Kangaroo may offer other services that will not be provided in connection with your purchase of the System unless or until you activate or subscribe to such services. These services may include but are not limited to: motion-detected alerts, location-based arm/disarm functionality, and cloud-based video recording and storage. Activation of these services can be done through the Kangaroo Security mobile app, or by calling Kangaroo Customer Support. Delineation of the services that are and are not provided in connection with your purchase of the System can be found on the Kangaroo website.</p>

<h3 id="insurance">INSURANCE</h3>

<p>THE PRICE OF THE SYSTEM IS UNRELATED TO THE VALUE OF PROPERTY LOCATED ON OR NEAR THE PREMISES AT WHICH THE SYSTEM IS LOCATED. NO PORTION OF THE PURCHASE PRICE IS FOR INSURANCE OR SHALL BE DEEMED OR CONSIDERED INSURANCE PREMIUMS. YOU ACKNOWLEDGE AND AGREE THAT KANGAROO IS NOT AN INSURER AND SHALL NOT PROVIDE INSURANCE COVERAGE AGAINST ANY LOSSES, AS DEFINED ABOVE. TO THE EXTENT YOU WISH TO HAVE ANY INSURANCE COVERAGE FOR LOSSES, AS DEFINED ABOVE, IT IS YOUR RESPONSIBILITY TO PROCURE AND MAINTAIN SEPARATE INSURANCE POLICIES FROM AN INSURANCE COMPANY OR COMPANIES, SOLELY AT YOUR COST AND EXPENSE, FOR COVERAGE AGAINST ALL LOSSES, AS DEFINED ABOVE, INCLUDING BUT NOT LIMITED TO THOSE ARISING OUT OF OR IN CONNECTION WITH, DUE TO, OR CAUSED IN WHOLE OR IN PART BY (I) THESE TERMS OF SALE, INCLUDING ANY BREACH OF ANY REPRESENTATION, WARRANTY, COVENANT OR OBLIGATION ARISING HEREUNDER (II) THE SYSTEM, (III) THE ACTIVE OR PASSIVE SOLE, JOINT OR SEVERAL NEGLIGENCE OF ANY KIND OR DEGREE, (IV) THE IMPROPER OPERATION OR NON-OPERATION OF THE SYSTEM, (V) BREACH OF CONTRACT, EXPRESS OR IMPLIED, WHICH OCCURS BEFORE OR AFTER THE SIGNING OF THIS AGREEMENT (VI) BREACH OF WARRANTY, EXPRESS OR IMPLIED, (VII) PRODUCT OR STRICT LIABILITY (VIII) LOSS OR DAMAGE TO OR MALFUNCTION OF FACILITIES NECESSARY TO OPERATE THE SYSTEM, TRANSMIT ANY SIGNAL TO OR RECEIVE SIGNALS AT ANY MONITORING FACILITY, (X) A CLAIM FOR SUBROGATION, INDEMNIFICATION OR CONTRIBUTION, OR (XI) A VIOLATION OF ANY APPLICABLE CONSUMER PROTECTION LAW OR ANY OTHER THEORY OF LIABILITY OR ALLEGED FAULT ON THE PART OF ANY KANGAROO PARTY, AS DEFINED ABOVE (COLLECTIVELY, THE "COVERED CLAIMS"). RECOVERY FOR ANY LOSS, AS DEFINED ABOVE, SHALL BE LIMITED TO THE INSURANCE YOU PURCHASE SEPARATELY FROM AN INSURANCE COMPANY, IF ANY.</p>

<h3 id="limitationsofliabilityandrelease">LIMITATIONS OF LIABILITY AND RELEASE</h3>

<p>Kangaroo does not accept liability for Systems purchased hereunder beyond the remedies set forth herein and in Kangaroo's limited warranty. In particular, as described in Kangaroo's Limited Warranty, Kangaroo does not represent that the System may not be compromised or circumvented; that the System will prevent any personal injury or property loss; or that the System will in all cases provide adequate warning or protection. You understand that the System may be interrupted, circumvented, unavailable (for a limited or extended time period) or otherwise compromised, including as a result of equipment designed or used by a third party for the purpose of causing false alarms or gaining unauthorized access to or otherwise affecting or controlling the System (including any Camera). You understand that a properly installed and maintained alarm may only reduce the risk of a burglary, robbery or other events occurring without providing an alarm, but it is not an insurance or a guarantee that such will not occur or that there will be no personal injury or property loss as a result.</p>

<p>BY AGREEING TO THESE TERMS, YOU ARE RELEASING EACH KANGAROO PARTY, AS DEFINED ABOVE, ON YOUR BEHALF AND ON BEHALF OF ALL OTHERS WHO MAKE CLAIMS UNDER THE TERMS OF SALE FROM ALL LOSSES, AS DEFINED ABOVE, ARISING OUT OF OR IN CONNECTION WITH, DUE TO, OR CAUSED IN WHOLE OR IN PART BY ANY COVERED CLAIM, AS DEFINED ABOVE. UNDER NO CIRCUMSTANCES WILL ANY KANGAROO PARTY, AS DEFINED ABOVE, BE RESPONSIBLE OR LIABLE TO YOU FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES INCLUDING WITHOUT LIMITATION, DAMAGES FOR PERSONAL INJURY, DEATH OR DAMAGES TO PROPERTY. NOTWITHSTANDING THE FOREGOING, EVEN IF A KANGAROO PARTY, AS DEFINED ABOVE, IS FOUND LIABLE FOR ANY LOSSES, AS DEFINED ABOVE, ARISING OUT OF OR IN CONNECTION WITH, DUE TO, OR CAUSED IN WHOLE OR IN PART BY ANY COVERED CLAIM, AS DEFINED ABOVE, ANY SUCH LIABILITY IN THE AGGREGATE OF ALL KANGAROO PARTIES, AS DEFINED ABOVE, SHALL BE LIMITED TO THE PURCHASE PRICE OF THE SYSTEM, WHICH SHALL BE THE COMPLETE AND EXCLUSIVE REMEDY AGAINST ALL KANGAROO PARTIES, AS DEFINED ABOVE. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>

<h3 id="releaseofinsuredlosseswaiverofsubrogation">Release of Insured Losses; Waiver of Subrogation</h3>

<p>You release all Kangaroo Parties for all Losses covered by your insurance policies and for all insurance deductibles. You also waive and release any subrogation and other rights you or your insurance company may have against any Kangaroo Party for money paid to you or on your behalf.</p>

<h3 id="indemnification">INDEMNIFICATION</h3>

<p>IF ANYONE OTHER THAN YOU (INCLUDING YOUR INSURANCE COMPANY) ASKS ANY KANGAROO PARTY, AS DEFINED ABOVE, TO PAY FOR ANY LOSSES, AS DEFINED ABOVE, INCLUDING ATTORNEYS' FEES ARISING OUT OF OR IN CONNECTION WITH, DUE TO, OR CAUSED IN WHOLE OR IN PART BY ANY COVERED CLAIM, AS DEFINED ABOVE, YOU SHALL INDEMNIFY, DEFEND AND HOLD EACH KANGAROO PARTY, AS DEFINED ABOVE, HARMLESS (WITHOUT ANY CONDITION THAT ANY OF THEM FIRST PAY), FOR ALL LOSSES, AS DEFINED ABOVE, INCLUDING ATTORNEYS' FEES, ASSERTED AGAINST OR INCURRED BY SUCH PARTIES. THE DUTY TO DEFEND ARISES UPON THE ASSERTION OF A CLAIM OR DEMAND AGAINST KANGAROO AND DOES SO REGARDLESS OF WHETHER KANGAROO HAS BEEN FOUND LIABLE OR WHETHER KANGAROO HAS INCURRED ANY EXPENSE. THE FOREGOING INDEMNIFICATION OBLIGATIONS MAY NOT BE ENFORCEABLE IN SOME STATES, SO SUCH OBLIGATIONS MAY NOT APPLY TO YOU.</p>

<h3 id="software">Software</h3>

<p>Software embedded within any Kangaroo System is licensed to you under this section on a non-exclusive and limited basis, and not sold. You may use such software only in connection with the product in which it is embedded, and may not modify, distribute, copy or reverse engineer such software. All rights with respect to such software not licensed to you hereunder are fully reserved by Kangaroo and/or its licensors.</p>

<h3 id="lifesafetynotice">Life Safety Notice</h3>

<p>If you purchase a System that includes smoke detectors or carbon monoxide detectors, or if you add smoke detectors or carbon monoxide detectors to your System at a later time, there may be specific requirements or standards for the installation and location of such detectors. You should contact your local authority having jurisdiction or consult a qualified professional to assist in the installation, maintenance and location of such detectors. You have sole responsibility for complying with any and all codes, laws and standards that may apply to the installation, placement, and maintenance of the System.</p>

<h3 id="privacy">Privacy</h3>

<p>Please refer to Kangaroo's privacy policy at <a href="https://heykangaroo.com/pages/privacy-policy">www.heykangaroo.com/pages/privacy-policy</a> for important information about our collection, use and sharing of your personal information.</p>

<h3 id="disputeresolutionandarbitration">Dispute Resolution and Arbitration</h3>

<p>PLEASE READ THIS SECTION CAREFULLY. FOLLOW THE INSTRUCTIONS BELOW IF YOU WISH TO OPT OUT OF THE REQUIREMENT OF ARBITRATION ON AN INDIVIDUAL BASIS. Certain portions of this section are deemed to be a "written agreement to arbitrate" pursuant to the Federal Arbitration Act. You and Kangaroo agree that Kangaroo intends that this section satisfies the "writing" requirement of the Federal Arbitration Act. In the event of any dispute or disagreement between the parties, or claim or question by a party, arising from or relating to these Terms of Sale or the breach hereof (collectively, a "Dispute"), the parties hereto shall use their best efforts to settle the Dispute. To this effect, the parties shall consult and negotiate with each other in good faith and, recognizing their mutual interests, attempt to reach a just and equitable solution satisfactory to both parties. If the parties do not reach such solution within a period of 60 days then, upon notice by either party to the other, such Dispute shall be finally settled by arbitration administered by the American Arbitration Association in accordance with the provisions of its Consumer Arbitration Rules. Once the Dispute is submitted to the AAA for arbitration and each party pays the appropriate filing fees, the parties agree to equally share all costs of AAA arbitration, including Arbitrator fees and expenses. The parties will remain individually responsible for their own attorney costs or other non-AAA required costs. If an in-person arbitration hearing is required, then it will be conducted at the American Arbitration Association's office in New York, New York.</p>

<p>The arbitration will be heard and determined by a single neutral arbitrator selected by the AAA who is a retired judge or a lawyer with not less than 15 years of experience as a practicing member of the bar in the substantive practice area related to the Dispute, who will administer the proceedings in accordance with the AAA's Consumer Arbitration Rules. The arbitrator will apply applicable law and the provisions of these Terms of Sale and will determine any Dispute according to the applicable law and facts based upon the record and no other basis. The arbitrator's decision must consist of a written statement stating the disposition of each claim of the Dispute, and must provide a statement of the essential findings and conclusions on which the decision and any award (if any) is based. Judgment on the award rendered by the arbitrator may be entered in any court having jurisdiction thereof.</p>

<p>In arbitration, as with a court, the arbitrator must honor the terms of these Terms of Sale and can award the prevailing party damages and other relief (including attorneys' fees). However, WITH ARBITRATION (A) THERE IS NO JUDGE OR JURY, (B) THE ARBITRATION PROCEEDINGS AND ARBITRATION OUTCOME ARE SUBJECT TO CERTAIN CONFIDENTIALITY RULES, AND (C) JUDICIAL REVIEW OF THE ARBITRATION OUTCOME IS LIMITED. The parties agree that the arbitration shall be confidential. All parties to the arbitration will have the right, at their own expense, to be represented by an attorney or other advocate of their choosing.</p>

<p>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IF YOU OR KANGAROO WANT TO ASSERT A DISPUTE AGAINST THE OTHER, THEN YOU OR KANGAROO MUST COMMENCE IT (BY DELIVERY OF WRITTEN NOTICE AS SET FORTH IN THE SECTION ENTITLED "OTHER TERMS AND CONDITIONS") WITHIN 1 YEAR AFTER THE DISPUTE ARISES -- OR IT WILL BE FOREVER BARRED.</p>

<p>NOTWITHSTANDING THE FOREGOING, THERE SHALL BE NO RIGHT OR AUTHORITY FOR ANY DISPUTE TO BE ARBITRATED ON A CLASS ACTION BASIS OR ON ANY BASIS INVOLVING ANY DISPUTE BROUGHT IN A PURPORTED REPRESENTATIVE CAPACITY ON BEHALF OF THE GENERAL PUBLIC, OTHER PERSONS OR ENTITIES DOING BUSINESS WITH KANGAROO, OR OTHER PERSONS OR ENTITIES SIMILARLY SITUATED. FURTHERMORE, ANY DISPUTE BROUGHT BY OR AGAINST KANGAROO MAY NOT BE JOINED OR CONSOLIDATED IN THE ARBITRATION WITH CLAIMS BROUGHT BY OR AGAINST ANY OTHER KANGAROO SUBSCRIBER, UNLESS OTHERWISE AGREED BY THE PARTIES. FURTHER, THE PARTIES ACKNOWLEDGE THAT THEY WAIVE ANY RIGHT TO PARTICIPATE IN A REPRESENTATIVE CAPACITY OR AS A MEMBER OF ANY CLASS OF CLAIMANTS PERTAINING TO ANY DISPUTE SUBJECT TO ARBITRATION. YOU SHALL HAVE THE RIGHT TO OPT OUT OF THIS AGREEMENT TO ARBITRATE BY PROVIDING WRITTEN NOTICE OF YOUR INTENTION TO DO SO BY EMAILING LEGAL@HEYKANGAROO.COM WITHIN 60 DAYS OF THESE TERMS OF SALE BECOMING BINDING UPON YOU FOR THE FIRST TIME. OPTING OUT OF THIS AGREEMENT TO ARBITRATE HAS NO EFFECT ON ANY PREVIOUS, OTHER, OR FUTURE ARBITRATION AGREEMENT(S) THAT YOU MAY HAVE WITH KANGAROO. IF THIS AGREEMENT TO ARBITRATE BECOMES BINDING, YOU CAN NOT CHANGE, MODIFY OR REVOKE IT (INCLUDING BY ATTEMPTING TO OPT OUT IN CONNECTION WITH ANY CONFIRMATION OF THE THESE TERMS OF SALE, AS AMENDED FROM TIME TO TIME) WITHOUT AN AGREEMENT IN WRITING SIGNED BY KANGAROO. IN THE EVENT THAT YOU OPT OUT OF THIS AGREEMENT TO ARBITRATE IN ACCORDANCE WITH THIS SECTION: YOU AND KANGAROO EACH HEREBY IRREVOCABLY AGREE THAT ANY SUIT, ACTION OR OTHER LEGAL PROCEEDING ("SUIT") ARISING OUT OF OR IN CONNECTION WITH OR DUE TO ANY CLAIM OR DISPUTE THAT HAS ARISEN OR MAY ARISE BETWEEN YOU AND KANGAROO MUST BE RESOLVED EXCLUSIVELY BY A STATE OR FEDERAL COURT LOCATED IN NEW YORK, NEW YORK; YOU AND KANGAROO EACH CONSENT TO THE EXCLUSIVE JURISDICTION AND VENUE OF EACH SUCH COURT IN ANY SUCH SUIT AND WAIVE ANY OBJECTION THAT YOU OR KANGAROO MAY HAVE TO JURISDICTION OR VENUE OF ANY SUCH SUIT; YOU AND KANGAROO EACH CONSENT TO SERVICE OF PROCESS IN ACCORDANCE WITH THE NOTICE PROVISIONS OF THIS AGREEMENT; AND YOU AND KANGAROO EACH HEREBY WAIVE ANY RIGHT TO TRIAL BY JURY IN ANY SUCH SUIT.</p>

<h3 id="othertermsandconditions">Other Terms and Conditions</h3>

<p>You understand and agree that sales made by Kangaroo-authorized distributors, resellers or retailers shall be subject to these Terms of Sale, notwithstanding that the ultimate sale may have been made by authorized distributors, resellers or retailers. Moreover, the initial sales made to you by such Kangaroo-authorized distributors, resellers or retailers shall be deemed an "initial sale" for the purpose of the Limited Warranty specified herein, and as such the Limited Warranty specified herein shall similarly apply to products sold to you in this manner.</p>

<p>These Terms of Sale and all transactions on the Kangaroo website are governed by New York law without reference to its conflicts of law rules. The interpretation of the Terms of Sale shall not be construed against the drafter.</p>

<p>Kangaroo will not be liable for any failure to discharge its obligations under the Terms of Sale due to strikes, accidents, fires, or shutdowns of its manufacturing plant or plants supplying it or other contingencies beyond the control of Kangaroo, including those arising out of or in connection with, due to, or caused in whole or in part by emergency conditions.</p>

<p>All claims, actions or proceedings against Kangaroo must be commenced in court within one (1) year after the cause of action has accrued, without judicial extension of time, or such claim, action or proceeding is barred. The time period in this paragraph must be complied with strictly.</p>

<p>Unless otherwise expressly provided herein, (i) all notices required to be given to Kangaroo shall be deemed to have been duly given if in writing and mailed by regular mail, postage prepaid, or overnight delivery, by a reputable, national overnight delivery service to Kangaroo's then current principal place of business and (ii) all notices required to be given to Subscriber shall be deemed to have been duly given if in writing and sent to the e-mail address Subscriber provided to Kangaroo.</p>

<p>Should any provision of the Terms of Sale (or portion of the Terms of Sale), or its application to any circumstances, be held illegal, invalid or unenforceable to any extent, the validity and enforceability of the remainder of the provision and the Terms of Sale, or of such provisions as applied to any other circumstances, shall not be affected thereby, and shall remain in full force and effect as valid, binding and continuing. When used in these Terms of Sale, the word "including" shall mean "including, but not limited to."</p>

</div>


<style>
  
  .legalpagesection{
    margin-top: 20px;
  }
  
</style>
{% schema %}
  {
    "name": "Terms of Sale",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
