{{"swell-page-referral.css" | asset_url | stylesheet_tag}}
<div class="page page-referral">
	{% include "swell-referral" %}
</div>
{{ "//code.jquery.com/jquery-3.3.1.min.js" | script_tag}}
{{"swell-difinition.js" | asset_url | script_tag}}
{{"swell-page-referral.js" | asset_url | script_tag}}