<section class="section-team-intro">
  <div class="main-container">
    <h1 class="page-lead">{{ page.content }}</h1>
  </div>
</section>

{% section 'team-page-body' %}
{% section 'team-page-feed-body' %}
