{{"swell-how-it-work.css" | asset_url | stylesheet_tag}}
<div class="page how-it-work">
<h1>How it Works</h1>
<div class="how-it-work-option"></div>
</div>
{{"swell-how-it-work.js" | asset_url | script_tag}}