<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{{"swell-referral.css" | asset_url | stylesheet_tag}}
{{"swell-page-referral.css" | asset_url | stylesheet_tag}}
<div class="page refer">
	<div class="refer-and-history">
		<div class="explain-refer">
			<h3>Refer a Friend</h3>
			<h2>Give $10, Get $10</h2>
			<h4>Give your friends $10 off on their first <br class="show-at-mobile">order of $40+<br class="show-at-leptop"> and get $10 in points for <br class="show-at-mobile">each successful referral.</h4>
			<div class="refer-form">
			</div>
		</div>
		<div class="history-refer hidden-history">
			<a href="/pages/rewards">Check Rewards Balance</a>
			<h4>Your Referrals</h4>
			<div class="history-refer-table">
				<table>
					<thead>
						<tr>
							<th>Email</th>
							<th>Status</th>
						</tr>
					</thead>				
					<tbody></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="image" ></div>
</div>
{{"swell-referral.js" | asset_url | script_tag}}



	