{{"swell-refer.css" | asset_url | stylesheet_tag}}
<div class="page referral">
<div>
	<h4>Refer a Friend</h4>
	<h2>Give $10 ,Get $10</h2>
	<p>Give your friends $10 off on their first <br class="show-at-mobile"> order of $40+<br class="show-at-leptop"> and get $10 in points for<br class="show-at-mobile"> each successful referral.</p>
	<br><a href="../pages/referral">Start Referring Now</a>
	<input type="button" value="Start Referring Now" onclick="window.location.href='../pages/referral'">
</div>
<img src="{{'KangarooProductSuite.png' | asset_url}}">
</div>

