{{"swell-campaign.css" | asset_url | stylesheet_tag}}
<div class="page campaigns">
<h1>Ways to Earn Points</h1>
<div class="campaigns-option"></div>
</div>
{{"swell-campaign.js" | asset_url | script_tag}}