{{"swell-redeem.css" | asset_url | stylesheet_tag}}
<div class="page redeem">
	<h1>What Are Your Points Worth?</h1>
	<p>Apply your points at checkout for<br>
		the discounts below.</p>
		<div class="redeemOptions">
		</div>
</div>
{{"swell-redeem.js" | asset_url | script_tag}}
