.how-it-work
{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 7rem;
    padding-right: 7rem;
}
.how-it-work-option{
	display: flex;
    width: 90%;
    justify-content: space-around;
}
.option{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.how-it-work h1{
    margin-bottom: 2.5rem;
}
.how-it-work h5{
	font-size: larger;
    margin-bottom: 1rem;
    font-weight: 500;
}
.circle{
    font-size: 21px;
    margin-bottom: 1.5rem;
    font-weight: 600;
    border-radius: 50%;
    border: 1.4px solid;
    width: 2rem;
    height: 2rem;
    margin-right: 0rem;
    text-align: center;
    background-color: #fff067;
}
.how-it-work p{
    font-size: 15px;
    line-height: .1rem;
}
@media screen and (max-width: 1024px){
	.option{
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.how-it-work h5{
		font-size: large;
	}
	.how-it-work p{
	    font-size: 12px;
	    line-height: 0rem;
	} 
	.circle{
		font-size: 18px;
		width: 1.7rem;
    	height: 1.7rem;
	}  
}
@media screen and (max-width: 875px){
	.how-it-work{
		padding-left:3rem;
    	padding-right: 3rem;
	}
}
@media screen and (max-width: 745px){
	.how-it-work{
		padding-left:0rem;
    	padding-right: 0rem;
	}
}
@media screen and (max-width: 650px){
.option {
    margin-left: 1rem;
    margin-right: 1rem;
}
}
@media screen and (max-width: 600px)
{
	.circle{
		font-size: 21px;
		width: 2rem;
    	height: 2rem;
	} 
	.how-it-work{
		margin-top: 3rem;
	}
	.how-it-work h1{
		font-size: 35px;
		margin-bottom: 0rem;
	}
	.how-it-work-option{
		flex-direction: column;
		padding-top: 2rem;
	}
	.option{
		margin-bottom: 3rem;
		margin-top: 0rem;
	}
	.how-it-work h5{
		font-size: larger;
		margin-bottom: 1.5rem;
	}
	.how-it-work p{
		font-size: large;
	}
}