.campaigns{
	margin-top: 5rem;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.campaigns-option div{
	width: 33.33%;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, .2);
}
.campaigns h1{
    margin-bottom: 4rem;
}
.campaigns-option{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
    justify-content: center;
    width: 900px;
}
.campaigns p{
	font-size: small;
}
.campaigns h3{
	font-size: larger;
    font-weight: 600;
}
.campaigns img{
	height: 50px;
    margin-bottom: 2rem;
}
.campaign1{
	content: url(//cdn.shopify.com/s/files/1/0055/2170/2963/t/32/assets/swell-campaign1.svg?70170);
}
.campaign2{
	content: url(//cdn.shopify.com/s/files/1/0055/2170/2963/t/32/assets/swell-campaign2.svg?70170);
}
.campaign3{
	content: url(//cdn.shopify.com/s/files/1/0055/2170/2963/t/32/assets/swell-campaign3.svg?70170);
}
.campaign4{
	content: url(//cdn.shopify.com/s/files/1/0055/2170/2963/t/32/assets/swell-campaign4.svg?70170);
}
.campaign5{
	content: url(//cdn.shopify.com/s/files/1/0055/2170/2963/t/32/assets/swell-campaign5.svg?70170);
}
.campaign6{
	content: url(//cdn.shopify.com/s/files/1/0055/2170/2963/t/32/assets/swell-campaign6.svg?70170);
	height: 40px !important;
	margin-bottom: 40px !important;
    margin-top: 5px;
}
@media screen and (max-width: 1024px){
	.campaigns-option{
		width: 700px;
	}
	.campaigns-option div{
		padding-top: 2.5rem;
    	padding-bottom:2.5rem;
	}
	.campaigns h3 {
    	font-size: large;
    	font-weight: 500;
}
}
@media screen and (max-width: 770px){
	.campaigns-option{
		width: 550px;
	}
	.campaigns-option div{
		padding-top: 1rem;
    	padding-bottom: 1rem;
	}
	.campaigns {
    padding: 0 0 120px;
    border-bottom: 1px solid #ddd;
	}
	.campaigns h3 {
    	font-size: medium;
	}
	.campaigns p {
    	font-size: x-small;
	}
}
@media screen and (max-width: 670px){
	.campaigns {
    padding: 0 0 60px;
    border-bottom: 1px solid #ddd;
	}
}
@media screen and (max-width: 600px)
{
	.campaigns h1{
		margin-bottom: 3rem;
	}
	.campaigns p{
		font-size: small;
	}
	.campaigns-option{
		width: 90%;
	}
	.campaigns-option div
	{
		width: 50%;
		border: 1px solid black;
		padding-top: 3.5rem;
    	padding-bottom: 3.5rem;
	}
}
@media screen and (max-width: 378px){
	.campaigns-option{
		width: 92%;
	}
}
@media screen and (max-width: 374px){
	.campaigns h3 {
    	font-size: 14px;
	}
	.campaigns-option {
    	width: 94%;
	}
}