.refer{
    display: flex;
    align-items: center;
    margin-top: 5rem;
}
.refer-and-history{
	width: 53%;
	display: flex;
  flex-direction: column;
  margin-left: 6rem;
  align-items: center;
  position: relative;
}
.explain-refer{
    width: 100%;
}
.explain-refer h2{
	font-size: -webkit-xxx-large;
    font-weight: 600;
}
.explain-refer h3{
	font-size: x-large;
	margin-bottom: 1.5rem;
	font-weight: 400;
} 
.explain-refer h4{
    font-size: larger;
    font-weight: 400;
}
.img-size-to-history{
	height: 37rem !important;
}
.image{
	background-image: url(//cdn.shopify.com/s/files/1/0055/2170/2963/t/32/assets/KangarooProductSuite.png?70170);
	width: 47%;
    background-size: cover;
    height: 18rem;
}
.refer-form p
{
    margin-top: 1.5rem;
    font-size: large;
    font-weight: 400;
    margin-bottom: 0rem;
}
.refer-form-input{
    width: 85%;
    font-size: small;
    margin-top: 1rem;
}
.refer-form-input input[type=text]{
    width: 72%;
    padding-left: 1rem;
    padding-bottom: .9rem;
    padding-top: .9rem;
    border: 1px solid rgba(0,0,0,.4);
    color: rgba(0,0,0,.4);
}
.refer-form-input input[type=submit]{
    width: 22%;
    background-color: #f17168;
    color: white;
    border: none;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: 600;
    margin-left: .8rem;
}
.showForm{
	display: flex;
	flex-direction: column;
}
.showForm input:focus{
	color: black !important;
}
.hiddenForm{
	display: none;
}
.refer-form-input .error-email{
	color:  #f17168;
}
.shareLinks{
    display: flex;
    width: 9rem;
    justify-content: space-between;
    margin-top: 1rem;
}
.shareLinks div a{
	width: 100%;
    display: flex;
    align-items: center;
}
.swell-share-referral-sms{
	display: none;
}
.popup-background{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top:0;
	width: 100vw;
	height:100vh;
	background-color: rgba(0, 0, 0, .6);
	z-index: 3333;
}
.popup-body{
	position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
    height: 15rem;
    background-color: white;
    align-items: center;
    border-radius: 20px;
}
.popup-body input{
    width: 30%;
    font-size: xx-small;
    color: white;
    font-weight: 600;
    background-color: #f17268;
    border: none;
    border-radius: 30px;
    padding-top: .6rem;
    padding-bottom: .6rem;
}
.popup-body h5{
	font-size: x-large;
    font-weight: bold;
}
.popup-body p{
    font-size: small;
    font-weight: 400;
    margin-top: 1rem;
}
.popup-close{
    position: absolute;
    top: -8%;
    right: 97%;
    transform: translate(50%,-50%);
    cursor: pointer;
    color: white;
    font-size: x-large;
}
.hidden-history{
	display: none;
}
.show-history{
	display: flex;
}
.history-refer{
    width: 100%;
    flex-direction: column;
    margin-top: 2.5rem;
}
.history-refer a{
	font-size: small;
    font-weight: 400;
    text-decoration: underline;
}
.history-refer h4{
    font-weight: 600;
    margin-bottom: 1rem;
    font-size: x-large;
    margin-top: .3rem;
}
td,th{
 	height: 1.7rem;
    border-bottom: .01rem solid rgba(225,225,225,.9);
   	font-size: small; 
    width: 50%;
    font-weight: 400;
}
th{
	font-size: medium !important;
}
.history-refer p{
	font-size: medium;
}
.history-refer h4:nth-of-type(2)
{
    border-top: 1px solid rgba(0,0,0,.3);
    padding-top: 1rem;
    width: 29rem;
    margin-bottom: .5rem;
}
.history-refer-table{
    height: 5.5rem;
    overflow: auto;
    width: 85%;
}
.history-refer-table::-webkit-scrollbar
{
    width: 4px;
    border-radius: 100px;
    background-color: black;
}
.history-refer-table::-webkit-scrollbar-thumb
{
    height: 80%;
    background-color: gainsboro;
    border-radius: 100px;
}
.history-refer table{
	width: 100%;
}
.refer .img-size-to-history{
	height: 37rem;
}
.refer-mail-send{
    display: flex;
    justify-content: center;
    /*width: 30rem;*/
    /*height: 85%;*/
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    /*top: 0;*/
    flex-direction: column;
    align-items: center;
    color: #f17268;
} 
.refer-mail-send h3{
	font-size:-webkit-xxx-large;
	font-weight: bolder;
}
.refer-mail-send h6{
	font-size: x-large;
}
.refer-mail-send-close{
    /*position: absolute;*/
    /*top: 37%;*/
    /*right: 50%;*/
    cursor: pointer;
    color: white;
    font-size: x-large;
}
@media screen and (max-width: 1024px){
	.refer-and-history{
		margin-left: 2rem;
	}
	.explain-refer h2{
		font-size: 40px;
	}
	.explain-refer h3{
		font-size: larger;
	} 
	.explain-refer h4{
    	font-size: large;
	}
	.refer-form p
	{
    	font-size: medium;
	}
	.refer-form-input{
    	width: 25rem;
    	font-size: x-small;
	}
	.refer-form-input input[type=submit]{
    	font-weight: 800;
	}
	.history-refer h4:nth-of-type(2)
	{
    	width: 25rem;
	}
	.history-refer-table{
    	width: 25rem;
	}
	.refer .img-size-to-history {
    	height: 35rem;
	}
	.refer-mail-send{
		width: 25rem;
		text-align: center;
	}
	.img-size-to-history{
		height: 33rem !important;
	}
}
@media screen and (max-width: 950px)
{
	.image{
		height: 16rem;
	}
	.img-size-to-history{
		height: 29rem !important;
	}
	.refer-and-history{
		margin-left: .5rem;
	}
}
@media screen and (max-width: 800px)
{
	.refer-and-history{
		width: 100%;
		margin-left: 0rem;
	}
	.image{
		margin-bottom: 2rem;
		height: 24rem;
		width: 103%;
	}
	.img-size-to-history{
		height: 24rem !important;
	}
	.refer{
		flex-direction: column-reverse;
	}
	.refer .img-size-to-history{
		height: 20rem;
		margin-bottom: 4rem;
	}
	.explain-refer{
		text-align: center;
	}
	.explain-refer h3{
		font-size: x-large;
		margin-bottom: .5rem;
	}
	.explain-refer h2{
		font-size: 43px;
		margin-bottom: .5rem;
	}
	.explain-refer h4{
		font-size: 19px;
		font-weight: 400;
	}
	.refer-form-input{
		width: 21rem;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
        font-size: small;
	}
	.refer-form{
		display: flex;
    	align-items: center;
    	justify-content: center;
	}
	.showForm{
		align-items: center;
	}
	.refer-form-input input[type=text]{
		width: 100%;
		border: 1px solid rgba(0,0,0,.2);
    	color: rgba(0,0,0,.2);
	}
	.refer-form-input input[type=submit]{
		width: 100%;
		margin-left: 0rem;
		margin-top: .8rem;
	}
	.refer-form p:nth-of-type(2)
	{
    	font-size: 16px;
       	margin-top: 1.5rem;
        margin-bottom: 1.5rem;
	}
	.swell-share-referral-sms{
		display: block;
	}
	.shareLinks div a{
		flex-direction: column;
	}
	.shareLinks {
    	width: 70%;
	}
	.history-refer{
		align-items: center;
	}
	.history-refer a{
		font-size: 15px;
    	font-weight: 400;
	}
	.history-refer-table {
    	width: 21rem;
    	height: 7rem;
	}
	td,th{
		height: 2.5rem;
		font-size: 14px;
	}
	.history-refer h4:nth-of-type(2){
		width: 21rem;
    	margin-top: 2rem;
    	padding-top: 2rem;
    	text-align: center;
	}
	.history-refer p {
    	font-size: large;
    	text-align: center;
    	line-height: 1.2rem;
	}
	.popup-body{
		width: 22rem;
		height: 22rem;
	}
	.popup-background{
	    background-color: rgba(0, 0, 0, .8);
	}
	.popup-body h5{
		font-size: xx-large;
	}
	.popup-body input{
	    width: 14rem;
	    font-size: small;
	    padding-top: .8rem;
	    padding-bottom: .8rem;
	}
	.popup-body p {
	    font-size: large;
	    font-weight: 400;
	    padding-left: 4rem;
	    padding-right: 4rem;
	    text-align: center;
	}
	.popup-close {
	    top: -11%;
	    right: 51%;
	    font-size: -webkit-xxx-large;
	}
	.refer-mail-send{
		width: 100%;
		top: 440px;
		height: 115%;
	}
@media screen and (max-width: 600px)
{
	.image{
		height: 18rem;
	}
	.img-size-to-history{
		height: 18rem !important;
	}
	.explain-refer h2{
		font-size: 40px;
	}
	.explain-refer h4{
		font-size: 17px;
		font-weight: 400;
	}
	.refer-form-input{
		width: 17rem;
	}
	.refer-form p:nth-of-type(2)
	{
    	font-size: 14px;
	}
	.history-refer-table {
	    width: 17rem;
	}
	.history-refer h4:nth-of-type(2){
		width: 17rem;
	}
	.history-refer p {
	    font-size: medium;
	}
	.refer-mail-send{
		top: 380px;
	}
	.refer-mail-send h6 {
    	font-size: large;
	}
}
@media screen and (max-width:400px){
	.popup-body h5{
	    font-size: x-large;
	}
	.image{
		height: 14rem;
	}
	.img-size-to-history{
		height: 14rem !important;
	}
	.popup-body{
	    width: 17rem;
	    height: 17rem;
	}
	.popup-body input{
	    width: 12rem;
	    padding-top: .6rem;
	    padding-bottom: .6rem;
	}
	.popup-body p {
	    padding-left: 3rem;
	    padding-right: 3rem;
	}
}