.referral{
    display: flex;
   	margin-top: 7rem;
    align-items: center;
    justify-content: center;
}
.referral div{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.referral img{
    height: 19rem;
}
.referral h4{
	font-size: medium;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.referral h2{
    font-size: xx-large;
    font-weight: 600;
}
.referral p,.referral a{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0rem;
    line-height: .9rem;
}
.referral a{
    border-bottom: .01rem solid black;
    padding-bottom: 0.5rem;
    width: 128px;
}
.referral h6{
	margin-bottom: 2rem;
	font-size: large;
}
.referral input{
	display: none;
}
@media screen and (max-width: 1024px)
{
	.referral img{
    	height: 16rem;
	}
	.referral h2{
		font-size: 30px;
	}
	.referral h4{
	    font-size: 15px;
	   	margin-bottom: 1rem;
	}
	.referral p, .referral a{
		font-size: 13px;
	}
	.referral a {
    	padding-bottom: 0.3rem;
        width: 119px;
	}
@media screen and (max-width: 850px)
{
	.referral img{
    	height: 15rem;
	}
}
@media screen and (max-width: 770px)
{
	.referral img{
    	height: 14rem;
	}
	.referral div{
		width: 45%;
	}
}
@media screen and (max-width: 700px)
{
	.referral img{
    	height: 13rem;
	}
	.referral div{
		width:46%;
	}
}
@media screen and (max-width: 670px)
{
	.referral{
		flex-direction: column-reverse;
		margin-top: 3rem;
	}
	.referral img{
		width: 100%;
    	height: auto;
	}
	.referral div{
		width: 100%;
    	align-items: center;
    	text-align: center;
    	margin-top: 2.5rem;
	}
	.referral h4{
		font-size: 28px;
		margin-bottom: .5rem;
	}
	.referral h2 {
    	font-size: 40px;
	}
	.referral p{
	    font-size: 16px;
	    font-weight: 400;
    	line-height: 1.2rem;
	}
	.referral a{
		display: none;
	}
	.referral input{
		display: block;
	    color: white;
    	background-color: #f17268;
        width: 230px;
    	height: 45px;
    	border-radius: 28px;
    	border: none;
    	font-weight: bold;
    	font-size: small;
    	margin-top: .5rem;
	}
}