.page{
	width: 100%;
}
 h1{
    text-align: center;
    font-weight: 700;
    font-size: 33px;
}
.show-at-mobile{
	display: none;
}
.show-at-leptop{
	display: flex;
}
@media screen and (max-width: 800px)
{
.show-at-mobile{
		display: flex;
	}
.show-at-leptop{
		display: none;
	}
}